@import 'theme';
@import '../node_modules/bootstrap/scss/bootstrap';

html,
body {
  background: $light;
  height: 100%;
}

pre {
  background: $light;
  border-radius: $border-radius;
  padding: .5rem;
}

.alert-container {
  bottom: 0;
  position: fixed;
}

.overlay-text {
  position: relative;
  z-index: 1;
}

.postion-relative {
  position: relative;
}

.overlay {
  background: #141515;
  bottom: 0;
  height: auto;
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
}

.btn {
  font-family: $headings-font-family;
}

h1, h2, h3, .navbar-brand {
  text-transform: capitalize;
}

/* Set a specific color for each brand */
.fa-facebook {
  background: #3b5998;
  color: #fff;
}

.fa-instagram {
  background: #d30f62;
  color: #fff;
}

.fa-twitter {
  background: #55acee;
  color: #fff;
}
