@import 'theme';
@import '../node_modules/bootstrap/scss/bootstrap';

html,
body {
  background: $light;
  height: 100%;
}

pre {
  background: $light;
  border-radius: $border-radius;
  padding: .5rem;
}

.accordion {
  .card {
    border-color: #9e9178 !important;
  }

  .card-header {
    background-color: $secondary !important;
  }
}

.overlay-text {
  position: relative;
  z-index: 1;
}

.postion-relative {
  position: relative;
}

.overlay {
  background: #141515;
  bottom: 0;
  height: auto;
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
}

.btn {
  font-family: $headings-font-family;
}

h1, h2, h3, .navbar-brand {
  text-transform: capitalize;
}

.social-icons {
  .fa {
    padding: 10px;
    font-size: 20px !important;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }

  .fa:hover {
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
  }
}

/* Set a specific color for each brand */
.fa-facebook {
  background: #3b5998;
  color: #fff;
}

.fa-youtube {
  background: #c4302b;
  color: #fff;
}

.fa-twitter {
  background: #55acee;
  color: #fff;
}
