<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Penny University is a peer-to-peer learning community.
          We connect people who enjoy working together to gain knowledge and improve their skills.">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'home/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Add fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab&display=swap" rel="stylesheet">

    {% block style %}{% endblock %}

    <title>Penny University</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-371T9B5LM2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-371T9B5LM2');
    </script>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-light row">
    <div class="container">
        <a class="navbar-brand mb-0 mr-0 h1" href="/">Penny University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="d-flex flex-column flex-md-row align-items-center">
                <a href="#faq" class="mr-2 mb-2 mb-md-0 btn btn-outline-dark" role="button" aria-pressed="true">
                    FAQs <i class="fa fa-question"></i>
                </a>
                <a href="/chats" class="mr-2 mb-2 mb-md-0 btn btn-outline-dark" role="button" aria-pressed="true">
                    Chats <i class="fa fa-comments"></i>
                </a>
                {% if form %}
                <button type="button" class="mr-2 mb-2 mb-md-0 btn btn-outline-dark" data-toggle="modal"
                        data-target="#formModal">
                    Join Us! <i class="fa fa-slack"></i>
                </button>
                {% endif %}
                <div class="social-icons">
                    <a href="https://www.facebook.com/officialpennyu" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/officialpennyu" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/channel/UCgYQSZ4GrTsdHNE2SvTQdiw" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<footer class="bg-light d-flex justify-content-center align-items-center p-2">
    <div class="social-icons">
        <a href="https://www.facebook.com/officialpennyu" class="fa fa-facebook"></a>
        <a href="https://twitter.com/officialpennyu" class="fa fa-twitter"></a>
        <a href="https://www.youtube.com/channel/UCgYQSZ4GrTsdHNE2SvTQdiw" class="fa fa-youtube"></a>
    </div>
    {% if form %}
    <button type="button" class="ml-2 btn btn-outline-dark" data-toggle="modal"
            data-target="#formModal">
        Join Us! <i class="fa fa-slack"></i>
    </button>
    {% endif %}
    <a href="/privacy" class="ml-2">Privacy Policy</a>
</footer>

{% include 'home/modal.html' %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
