<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Penny University is a peer-to-peer learning community.
          We connect people who enjoy working together to gain knowledge and improve their skills.">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'home/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'home/favicon.ico' %}">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Add fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab&display=swap" rel="stylesheet">

    {% block style %}{% endblock %}

    <title>Penny University</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-371T9B5LM2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-371T9B5LM2');
    </script>
</head>

<body>

{% block header %}
    <nav class="navbar navbar-light row border-bottom">
        <div class="container">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                <a href="{% url 'index' %}" class="navbar-brand mb-0 mr-0 h1">Penny University</a>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center justify-content-md-end">
                <div class="social-icons">
                    <a href="https://www.facebook.com/officialpennyu" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/officialpennyu" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/officialpennyu" class="fa fa-instagram"></a>
                </div>
                <button type="button" class="ml-2 btn btn-outline-dark" data-toggle="modal"
                        data-target="#formModal">
                    Join Us! <i class="fa fa-slack"></i>
                </button>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
