<div class="accordion mt-4" id="faqAccordion">
    <div class="card">
        <div class="card-header bg-secondary" id="headingOne">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link text-reset" data-toggle="collapse" data-target="#collapseOne">Where does
                    the name come from?
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqAccordion">
            <div class="card-body">
                <p>
                    The name "Penny University" is a reference to the early coffeehouses in Oxford, England.
                    These coffeehouses held an important association with the European Age of Enlightenment.
                    For the price of a penny, scholars and laypeople alike would be given admittance to the coffeehouse,
                    enjoy an endless supply of coffee, and more importantly enjoy learning through conversations with
                    their peers.
                    Thus these coffeehouses came to be called "Penny Universities".
                </p>
                <p>
                    Our new group, Penny University, serves as a modern take on this old tradition by connecting those
                    who desire to learn with those who are willing to share what they know.
                    This can certainly be at a coffeehouse, but anywhere else as well, including just a quick Google
                    Hangout.
                    There are no mentors or mentees, leaders or followers.
                </p>
                <p>
                    We are all peers and we are here to both learn and to teach.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-secondary" id="headingTwo">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link text-reset" data-toggle="collapse" data-target="#collapseTwo">What is a
                    Penny Chat?
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
            <div class="card-body">
                <p>
                    We connect over video chats to learn with one another and to build relationships.
                    These meetings are called Penny Chats. There are no rules for what a Penny Chat can be.
                    <a href="https://www.pennyuniversity.org/chats/150">You can have a casual chat with someone</a>,
                    <a href="https://www.pennyuniversity.org/chats/28">get together with a couple people to work on a
                        project</a>,
                    <a href="https://www.pennyuniversity.org/chats/153">or even host your own evening of lightning
                        talks</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-secondary" id="headingThree">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link text-reset collapsed" data-toggle="collapse"
                        data-target="#collapseThree">How do I set up a Penny Chat?
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
            <div class="card-body">
                <ul>
                    <li>
                        <strong>Step 1:</strong> Find a topic. If it's a question that's easy to answer with Google, go
                        ahead and use Google.
                        But if it's a topic that invites or requires discussion, then that's a good candidate.
                    </li>
                    <li>
                        <strong>Step 2:</strong> Gather interest in Slack.
                        Ask around and see if anyone is familiar with the things you wish to learn or interested or the
                        things you wish to share.
                    </li>
                    <li>
                        <strong>Step 3:</strong> Invite them with the help of our Slack bot.
                        Just type
                        <span style="padding: 3px; border-radius: 5px;background-color: lightgray; font-family: 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace">/penny chat</span>
                        into Slack and enter the chat title, details, date, time, and invitees
                        and we'll take care of the rest.
                        We will notify you as people RSVP, remind all guests just before the chat, and we'll keep a
                        record of all the chats you've participated in in your profile.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-secondary" id="headingFour">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link text-reset collapsed" data-toggle="collapse" data-target="#collapseFour">
                    What is a Penny Chat Follow-Up?
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqAccordion">
            <div class="card-body">
                <p>
                    Follow-Ups are short write ups that provide a way to thank those who took the time to chat with you,
                    as well as providing you and the community with an artifact of what you learned. Members also
                    sometimes use Follow-Ups to share videos of their Chats, so anyone who missed out can see what
                    happened in the meeting.
                    Finally, follow-ups can sometimes turn into deeper conversations that lead to future Penny Chats.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-secondary" id="headingFive">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link text-reset collapsed" data-toggle="collapse" data-target="#collapseFive">
                    How do I write a Follow-Up?
                </button>
            </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqAccordion">
            <div class="card-body">
                <p>
                    If you RSVP to a Penny Chat using our slack integration, you will be reminded to write a Follow-Up
                    soon after the Penny Chat is completed.
                    All you have to do is click through and write up the follow-up.
                    Here's an idea: show that you were attentive by listing one, two, or three important points that you
                    learned during the conversation.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-secondary" id="headingSix">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link text-reset collapsed" data-toggle="collapse" data-target="#collapseSix">
                    How can I see upcoming or past Penny Chats?
                </button>
            </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqAccordion">
            <div class="card-body">
                <p>
                    Head over to <a href="/chats">the chats page</a> to see a date-ordered list of chats. Future chats
                    will have an “Upcoming” badge.
                    Consider joining one! Further down we list all the Penny Chats that have happened at Penny
                    University.
                    Each item includes a list of participant, and by clicking through you can see each chat's
                    Follow-Ups.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-secondary" id="headingSeven">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link text-reset collapsed" data-toggle="collapse"
                        data-target="#collapseSeven">
                    What can I look forward to next?
                </button>
            </h2>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqAccordion">
            <div class="card-body">
                <p>
                    Anything! Everything! Penny University is your community for learning and sharing with others.
                    It is our goal to build a platform that supports your success in our community.
                    Interact, introduce new ideas, and if we see some way to be useful to you, we will implement new
                    products to support you.
                    Future work will include search functionality, richer content editing, more ways to find upcoming
                    chats, and more.
                    If you have some particularly good ideas, visit us in the #penny-labs channel and let's chat!
                </p>
            </div>
        </div>
    </div>
</div>
