<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Join Penny University</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <p class="font-weight-light">
                        The Penny University community hangs out in Slack.
                        Click the button below to go to our Slack sign-up page.
                    </p>
                    <p>Not sure yet?
                            <a href="https://groups.google.com/forum/#!forum/penny-university">
                                Check out what we've been up to on our forum.
                            </a>
                        </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Join Penny University</button>
                </div>
            </form>
        </div>
    </div>
</div>
