{% extends "home/base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid bg-dark text-white mb-0 h-100">
        <div class="container d-flex flex-column align-items-center justify-content-center h-100">
            <h3 class="display-4 align-self-left">Thank you!</h3>
            <p><strong>We will be in touch with you shortly.</strong></p>
            <p>While you're waiting,
                <a class="text-white" href="https://groups.google.com/forum/#!forum/penny-university">
                    <u>check out what we've been up to.</u>
                </a>
            </p>
        </div>
    </div>
{% endblock %}
