penny_university/settings/jnbrymn.py

# OSX
.DS_Store

# Editors
*.sublime-project
*.sublime-workspace
.idea
.vscode

# Python
*.pickle
credentials.json
messages.log
__pycache__
*.pyc
db.sqlite3
.pytest_cache
venv
staticfiles/*
!staticfiles/.gitignore
.envrc
.direnv

#  Javascript
node_modules

# css
**/*.css

#  MISC
NOT_COMMITTED
