staticfiles/*

!staticfiles/.gitignore

credentials.json
token.pickle

messages.log
__pycache__
*.pyc
db.sqlite3
.pytest_cache
.DS_Store
venv
.idea
.DS_Store
.vscode
node_modules
package-lock.json
.envrc
.direnv

credentials.json

*.pickle

NOT_COMMITTED
