{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <div class="bg-dark min-vh-100 pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex flex-column">
                    <h2 class="text-light">Recent Penny Chats</h2>
                    <div class="card mb-3">
                        <div class="card-body">

                            {% for chat in chats %}
                                <a class="text-dark" href={% url 'detail' chat.id %}>
                                    <h5 class="card-title">{{ chat.title }}</h5>
                                </a>
                                <h6 class="card-subtitle mb-2 text-secondary">
                                    {# https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#date #}
                                    {{ chat.date|date:"n/j/y" }}
                                </h6>
                                <p class="card-text">
                                    {# https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#truncatechars #}
                                    {{ chat.description|truncatechars:200 }}
                                </p>
                                <div class="d-flex justify-content-start align-items-center">
                                    <button class="btn btn-sm btn-outline-danger mr-2">
                                        <i class="fa fa-heart"></i> 3
                                    </button>
                                    <a href={% url 'detail' chat.id %} class="card-link">
                                        {{ chat.followup_set.count }} Follow Ups
                                    </a>
                                </div>
                                {% if not forloop.last %}
                                    <hr/>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% include 'pennychat/paginator.html' with items=chats %}
                </div>
                <div class="col-md-4 h-75">
                    <h2 class="text-light">Upcoming</h2>
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                <tr class="border-bottom">
                                    <th scope="row">Oct 31</th>
                                    <td>Otto</td>
                                </tr>
                                <tr class="border-bottom">
                                    <th scope="row">Nov. 2</th>
                                    <td>Jacob</td>
                                </tr>
                                <tr>
                                    <th scope="row">Dec. 3</th>
                                    <td>Larry</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'home/modal.html' %}

{% endblock %}
