$theme-colors: (
  "primary": #008DD5,
  "secondary": #CBBEA5,
  "dark": #2D2B25,
  "light": #F0F0F0,
  "danger": #F0544F,
);

$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Roboto Slab', serif;
